@import "../../Variables.scss";

.ConContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;

  &__heading {
    color: $highlight2;
    margin: .8rem 0;

  }
}


.ConTable {

  margin: .5rem;
  table-layout: fixed;
  width: 25rem;

  &__bold {
    font-weight: bold;
  }

  &__heading {
    color: $highlight1;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 992px) {
 .ConTable {
   width: 20rem;
 }
}