@import "../../Variables.scss";

.Toggle {
  color: white;
  background-color: $primary;
  position: relative;

  &__btn {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
    color: #FFF;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden;
    background-image: linear-gradient(45deg, rgb(94, 133, 22) , rgba(166, 252, 69, 0.972) 100%);
    transition: .4s;
    position: absolute;
    cursor: pointer;


    &:hover {
      transform: translateY(.5rem);
    }

    // &__icon {
    //   font-size: 2rem;
    // }
  }
}

.test {
  margin-top: 1.1rem;
}